services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: odinlabs-server
    restart: always
    env_file:
      - server/.env
    environment:
      - PORT=8004
    ports:
      - "8004:8004"
